*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    
    color: white;
}
img.logo{
    height: 100px;
    width: 170px;
}
form.busqueda{
margin: 0 auto;
display: flex;
flex-direction: row;
height: 25pt;
margin-top: 10pt;
}
button.bus{
    height: 15pt;
}
a{
    text-decoration: none;
    color: white;
}
nav.navegacion{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: black;
    color: white;
}
section.login{
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    align-items: center;
    padding: 150px;
    width: 45%;
    margin: 0 auto;
}
h1.re{
    margin-bottom: 10pt;
    color: white;
}
input{
    margin-bottom: 10pt;
    width: 100%;
}
label{
    color: white;
}
button.in{
    height: 30px;
    width: 100%;
    margin-bottom: 20pt;
}
button.re{
    height: 30px;
    width: 100%;
    margin-bottom: 10pt;
    justify-content: center;
}
input.ter{
    width: 15pt;
}
img{
    height: 150px;
    width: 100%;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20pt;
}
article{
    margin: 20pt;
    border: solid black 2pt;
    border-radius: 2px;
    width: 180px;
}
a.det{
    border: solid 1pt black;
    color: rgb(0, 0, 135);
    margin: 3px;
}
body.inde{
    background-color: white;
}
main.mainindex{
    display: flex;
    flex-direction: row;
}
div.sec{
    display: flex;
    flex-direction: column;
}
nav.iz{
    background-color: royalblue;
    border-top: 0pt;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li{
    margin: 10px;
}
header.rl{
    background-color: white;
    border: 0pt;
}
h2{
    margin: 10px;
    font-size: xx-large;
    margin: 0 auto;
}

main.maindetalle {
padding: 20px;
display: flex;
flex-direction: column;
}

img.imgdetalle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

main.maindetalle p {
    margin: 5px;
    font-size: larger;
    font-weight: bold;

}

main.maindetalle h4 {
    margin: 5px;
    font-size: 25px;
}

section.reviews {
    display: flex;
    flex-direction: row;
    margin: 30px;

}

main.maindetalle li {
 font-weight: bold;
}