*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
ol,
li{
    list-style-type: none;
}
header{
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    color: white;
}
img.logo{ 
    height: 100px;
    width: 170px;
}
form.busqueda{
margin: 0 auto;
display: flex;
flex-direction: row;
height: 25pt;
margin-top: 10pt;
}
button.bus{
    height: 15pt;
}
a{
    text-decoration: none;
    color: white;
}
nav.navegacion{
    display: flex;
    flex-direction: row;
}
footer{
    background-color: black;
    color: white;
}
section.login{
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    align-items: center;
    padding: 150px;
    width: 45%;
    margin: 0 auto;
}
h1.re{
    margin-bottom: 10pt;
    color: white;
}
input{
    margin-bottom: 10pt;
    width: 100%;
}
label{
    color: white;
}
button.in{
    height: 30px;
    width: 100%;
    margin-bottom: 20pt;
}
button.re{
    height: 30px;
    width: 100%;
    margin-bottom: 10pt;
    justify-content: center;
}
input.ter{
    width: 15pt;
}
img{
    height: 150px;
    width: 100%;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20pt;
}
article{
    margin: 20pt;
    border: solid black 2pt;
    border-radius: 2px;
    width: 180px;
    padding: 10px;
}
a.det{
    border: solid 1pt black;
    color: royalblue;
    margin: 3px;
}
main.mainindex{
    display: flex;
    flex-direction: row;
}
div.sec{
    display: flex;
    flex-direction: column;
}
nav.iz{
    background-color: royalblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
}
li{
    margin: 15px;
    list-style: none;
}
header.rl{
    background-color: white;
}
h2{
    margin: 10px;
    font-size: xx-large;
    margin: 0 auto;
    margin-top: 20px;
}
.maindetalle {
padding: 20px;
display: flex;
flex-direction: column;
}
.imgdetalle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.maindetalle p {
    margin: 5px;
    font-size: larger;
    font-weight: bold;
}
.maindetalle h4 {
    margin: 5px;
    font-size: 25px;
}
.reviews {
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.maindetalle li {
 font-weight: bold;
}
a.ln{
    margin: 10pt;
    background-color: white;
    color: black;
    height: 20pt;
    border: solid 2pt lightblue
}
@media(max-width: 480px){
main.mainindex{
    display: flex;
    flex-direction: column;
}
nav.iz{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
section.login{
    padding: 50px;
    width: 100%;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
h1.res{
    margin-left: 70px;
}
section{
    display: flex;
    justify-content: center;
}
}
