*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
}
img.logo{
    height: 100px;
    width: 170px;
}
form.busqueda{
margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
div.navegacion{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    align-items: flex-end;
}
section.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
form.l{
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 150px;
}
input{
    margin-bottom: 10pt;
}
button.in{
    height: 30px;
    width: 100%;
    margin-bottom: 20pt;
}
h1.lo{
    margin-bottom: 10pt;
}